/*================= MASTER STYLESHEET =================================

	Project     :	EVENT Page
	Version     :	1.0
	Last Change : 	26/04/2017
	Primary Use :   EVENT HTML Page

=======================================================================*/
/*========================================== LAYOUT ===================================================================

		1.GLOBAL CSS START
		2.NAVIGATION
		3.HEADER
		4.HEADER-SLIDER
		5.ABOUT EVENTS
		6.OUR SERVICES
		7.COUNTER
		8.WHAT WE DO
		9.SCHEDULE - 1
		10.SCHEDULE-2
		11.GALLERY
		12.SCHEDULE-3
		13.BOOK TICKETS
		14.FREQUENTLY ASKED QUESTIONS
		15.BUILDER
		16.TEAM-BG
		17.LEFT-CONTENT
		18.PRICE TABLE
		19.TWO-COLUMN-SECTION
		20.UPCOMING EVENTS
		21.TESTIMONIAL
		22.VENUE
		23.CTA
		24.EMAIL SUBSCRIPTION
		25.FOOTER
		26.TICKET FORM
		27.MEDIA QUERY

=========================================================================================================*/
/*========================================== COLOR CODES ==============================================


	Theme Color	       :#3598DB, #1BBC9B, #f39c12, #F0425F
	Main Heading Color :#333333
	SubHeading Color   :#333333
	Content Color      :#666666

=====================================================================================================*/
/*========================================== TYPOGRAPHY ==============================================
	
	HEADING    :font-family: 'Roboto', Helvathika, Arial sans-serif;
	CONTENT    :font-family: 'Open Sans', Helvathika, Arial sans-serif;

====================================================================================================*/
/*========================================== 1.GLOBAL CSS START ===========================================*/
/* CUSTOM STYLES */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
a {
    outline: none !important;
    text-decoration: none !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}
/* elements */

p {
    margin: 0px;
}
body {
    font-family: 'Open Sans', Helvathika, Arial, sans-serif;
    font-size: 14px;
}
h1,
h2,
.menu-fs {
    font-family: 'Roboto', Helvathika, Arial, sans-serif;
    letter-spacing: 1px;
}
h1,
h2 {
    color: #333333;
    font-weight: 500;
}
h1,
h2,
.menu-fs {
    text-transform: capitalize;
}
h1 {
    font-size: 34px;
    line-height: 40px;
    /*margin-bottom: 40px;*/
}
h2 {
    font-size: 24px;
    line-height: 30px;
}
.h2-bottom {
    margin-bottom: 15px;
}
.h3-bottom {
    margin-bottom: 10px;
}
p {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.p-bottom {
    margin-bottom: 15px;
}
a {
    color: inherit;
}
a:hover {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
    text-decoration: none;
}
.section-space {
    padding: 80px 0 80px 0;
}
.image-center {
    margin: 0 auto;
}
.image-right {
    margin: 0 0 0 auto;
}
.image-left {
    margin: 0 auto 0 0;
}
.image-radius {
    border-radius: 3px;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.btn-1 {
    background-color: #1BBC9B;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #f3f3f3;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
    transition: 300ms ease-in;
}
.btn-1:hover {
    background-color: transparent;
    border: 1px solid #1BBC9B;
    color: #1BBC9B;
}
.btn-2 {
    background-color: #ffffff;
    color: #1BBC9B;
}
.btn-top {
    margin-top: 30px;
}
.btn:hover,
.btn:focus {
    color: #ffffff;
}
.image-bottom {
    margin: 0 0 20px 0;
}
.column-center {
    float: none;
    margin: 0 auto;
}
.no-padding {
    padding: 0;
}
.no-margin {
    margin: 0;
}
.no-fs {
    font-size: 0;
}
.common-row-space {
    padding-bottom: 40px;
}
.ls,
.btn-1,
.link,
.what-list,
.schedule1-time,
.teambg-design,
.price-tag,
.dollor,
.testimonial-author,
.venue-address-ls p,
.schedule2-date,
.schedule2-time,
.counter-sub,
.counter-num,
.uline-sec-time {
    letter-spacing: 1px;
}
.h1-white-text,
.h2-white-text,
.h3-white-text,
.p-white-text {
    color: #ffffff;
}
.schedule1-white-text h2,
.schedule1-white-text p,
.pricing-white-text p,
.pricing-white-text h2,
.pricing-white-text span,
.cta-white-text h1,
.cta-white-text p,
.left-content-white-text h1,
.left-content-white-text p,
.email-white-text h1,
.email-white-text p,
.header-white-text h1,
.header-white-text h2,
.popup-bg-header .popup-form > h2,
.counter-sub,
.counter-num,
.popup-form > h2,
.donate-bg,
.btn-cancel,
.upcoming-events-bg h2,
.upcoming-events-bg p,
.header-content,
.count-down,
.count-unit,
.countdown {
    color: #f3f3f3;
}
.price-tag,
.dollor {
    color: #333333;
}
.section-bg-1 {
    background-color: #ffffff;
}
.section-bg-2 {
    background-color: #f6f6f6;
}
.teambg,
.price-bgcolor-2,
.upcoming-events-bg {
    background-color: #1BBC9B;
}
iframe {
    border: 0px;
}
.header-bgimage,
.header2-bgimage,
.counter-bgimage,
.cta-bgimage,
.builder-bgimage,
.two-column-bgimage-1,
.two-column-bgimage-2,
.left-content-bgimage,
.subscription-bgimage,
.header-slider-bgimage-1,
.header-slider-bgimage-2,
.header-slider-bgimage-3,
.video-bgimage,
.header-count-bgimage,
.header1-bgimage,
.corporate1-bgimage,
.two-column-bgimage-1-music,
.two-column-bgimage-2-music,
.left-content-bgimage-music,
.header1-bgimage-party,
.header1-bgimage-music2,
.header-corporate3-bgimage,
.header-corporate2-bgimage,
.counter-bgimage-corporate2,
.header-count-bgimage-corporate1,
.cta-bgimage-corporate,
.header-slider-bgimage-corporate4-1,
.header-slider-bgimage-corporate4-2,
.header-slider-bgimage-corporate4-3,
.builder-bgimage-corporate4,
.left-content-bgimage-cororate4,
.two-column-bgimage-1-corporate5,
.two-column-bgimage-2-corporate5,
.subscription-bgimage-corporate5,
.video-bgimage-corporate5,
.bgimage-property {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.distab {
    display: table;
}
.distab-cell-middle {
    display: table-cell;
    vertical-align: middle;
}
.distab-cell-top {
    display: table-cell;
    vertical-align: top;
}
.distab-cell {
    display: table-cell;
}
body i {
    color: #1BBC9B;
}
.zoom-area {
    overflow: hidden;
}
.find-image {
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.image-zoom {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.header-bgimage,
.header2-bgimage,
.counter-bgimage,
.left-content-bgimage,
.subscription-bgimage,
.cta-bgimage,
.header-count-bgimage,
.left-content-bgimage-music,
.header1-bgimage-party,
.header1-bgimage,
.header1-bgimage-music2,
.header-corporate3-bgimage,
.header-corporate2-bgimage,
.counter-bgimage-corporate2,
.header-count-bgimage-corporate1,
.cta-bgimage-corporate,
.left-content-bgimage-cororate4,
.subscription-bgimage-corporate5,
.video-bgimage-corporate5,
.attachment-fixed {
    background-attachment: fixed;
}
.count-down-black,
.count-unit-black {
    color: #333333;
}
/*========================================== NAVIGATION START ===========================================*/

.menu-underline a::before {
    background: #1BBC9B none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease 0s, opacity 0.33s ease 0s;
}
.menu-underline a:hover::before {
    opacity: 1;
    transform: translateX(0px);
}
.menu-fs,
.menu-fs li {
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 1px;
}
.menu-bg {
    background: rgb(45, 45, 48) none repeat scroll 0 0;
    opacity: 0.6;
}
.navbar {
    margin-bottom: 0;
}
.navbar-default .navbar-nav > li > a {
    color: #fff !important;
    background-color: transparent !important;
    margin: 0 15px;
    padding: 15px 0 2px 0;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #fff !important;
    background-color: transparent !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    color: #1BBC9B !important;
}
.navigation-tb {
    margin: 10px 0;
}
.nav > li {
    display: table;
}
.navbar-right {
    margin-right: 0;
}
/*========================================== NAVIGATION END ===========================================*/
/*========================================== HEADER START ===========================================*/

#counter {
    display: table;
    z-index: 0;
}
.count-unit {
    display: block;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 auto;
    padding-top: 15px;
    text-align: center;
}
#counter,
.countdown {
    margin: 0 auto;
}
#counter {
    position: relative;
    box-sizing: content-box;
}
#counter::after,
#counter::before {
    content: '';
    top: 1px;
    width: 50%;
    height: 98%;
    z-index: 1;
    left: 0;
    border: 1px solid white;
    opacity: 0;
}
#counter::after {
    left: 50%;
    border-left: none;
    transform: translateX(10em);
}
#counter.loaded::after {
    transform: translateX(1em);
    transition: 0.5s;
    opacity: 1;
}
#counter::before {
    border-right: none;
    transform: translateX(-10em);
}
#counter.loaded::before {
    transform: translateX(-1em);
    transition: 0.5s;
    opacity: 1;
}
@keyframes counterA {
    0% {} 100% {
        width: 0%;
    }
}
@keyframes counterB {
    0% {} 100% {
        background-size: 25% 1px, 25% 1px, 25% 1px, 25% 1px;
    }
}
.countdown-wrap {
    opacity: 1;
    float: left;
    margin: 10px 20px;
    transition: 1s;
}
.countdown-wrap-active {
    opacity: 1;
    transition: 1s;
}
.countdown {
    background: rgba(0, 0, 0, 0.4);
    display: block;
    line-height: initial;
    font-size: 60px;
    font-weight: 600;
    padding: 10px 25px;
    border: 0;
    border-radius: 3px;
    border: 1px dashed #f3f3f3;
}
.count-down {
    margin-bottom: 30px;
}

/*===================== COUNT-DOWN-BGIMAGE START ====================*/
.header-count-bgimage {
    background-image: url("../../images/1500x600x6.jpg");
}
.header-count-bgimage-music3 {
    background-image: url("../../images/PRE_BANNER_VIEW.png");
}
.header-count-bgimage-corporate1 {
    background-image: url("../../images/1500x600_corporate1.jpg");
}

/*===================== COUNT-DOWN-END START ====================*/

/*===================== STATIC-BGIMAGE START ====================*/
.header1-bgimage {
    background-image: url("../../images/1500x600x1.html");
}
.corporate1-bgimage {
    background-image: url("../../images/1500x600x4.jpg");
}
.header-corporate3-bgimage {
    background-image: url("../../images/1500x600_corporate3.jpg");
}
.header-corporate2-bgimage {
    background-image: url("../../images/1500x600_corporate2.jpg");
}
.header1-bgimage-music2 {
    background-image: url("../../images/1500x600x_music2.jpg");
}
.header1-bgimage-party {
    background-image: url("../../images/1500x600_party.jpg");
}
.header2-bgimage {
    background-image: url("../../images/1500x600x2.html");
}
.header2-bgimage-music1 {
    background-image: url("../../images/1500x600_music1.jpg");
}

/*===================== STATIC-BGIMAGE END ====================*/
/*===================== VIDEO-BGIMAGE START ====================*/
.video-bgimage {
    background-image: url("../../images/1500x600x7.jpg");
}

.video-bgimage-party {
    background-image: url("../../images/1500x600_party2.jpg");
}
.video-bgimage-corporate5 {
    background-image: url("../../images/1500x600_corporate5.jpg");
}

.video-bgimage-church2 {
    background-image: url("../../images/1500x600_church2.jpg");
}

/*===================== VIDEO-BGIMAGE END ====================*/
.header-section-space {
    padding: 0;
    position: relative;
}
.video-section-space {
    padding: 200px 0 200px 0;
}
.header1-section-space {
    padding: 200px 0 200px 0;
}

.pattern-overlay {
    background-color: rgba(0, 0, 0, 0.6);
}
.video-section .buttonBar {
    display: none;
}
.player {
    font-size: 1px;
}
.header-head1 {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2px;
}
.header-head2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.header-content {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
}
.header-head-bottom {
    margin-bottom: 15px;
}
/*============================ TICKET FORM START ==========================*/

.popup-bg-header {
    display: table;
}
.popup-bg-width {
    width: 100%;
}
.header2-right {
    padding: 0 30px;
}
.popup-bg-header select {
    height: 50px;
    line-height: 50px;
}
.popup-bg-header select option {
    background-color: #000000;
    border: 0;
}
.popup-bg-header .popup-form select,
.popup-bg-header .popup-form input {
    color: #f3f3f3;
    font-size: 15px;
    font-weight: 600;
    height: 50px;
    margin-bottom: 30px;
    background: transparent;
    border: 1px solid #1BBC9B;
    opacity: 1;
    appearance: none;
    -moz-appearance: none;
    /* Firefox */
    
    -webkit-appearance: none;
    /* Safari and Chrome */
}
.popup-bg-header ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f3f3f3;
  opacity:  1;
}
.popup-bg-header ::-moz-placeholder { /* Firefox 19+ */
  color: #f3f3f3;
  opacity:  1;
}

.popup-bg-header :-ms-input-placeholder { /* IE 10+ */
  color: #f3f3f3;
}
.popup-bg-header :-moz-placeholder { /* Firefox 18- */
  color: #f3f3f3;
}
.popup-bg-header .popup-form .select {
    overflow: hidden;
    position: relative;
    display: block;
}
.popup-bg-header .popup-form .select-1 {
    margin-bottom: 30px;
}
.select {
    overflow: hidden;
    position: relative;
    display: block;
}
.select:after {
    content: "\f107";
    font-family: FontAwesome;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 8px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 21%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}
.popup-bg-header .popup-form > h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
}
.popup-bg-header .name,
.popup-bg-header .email,
.popup-bg-header .phoneno,
.popup-bg-header #amounts,
.popup-bg-header #price-1 {
    padding-left: 8px;
    padding-right: 8px;
}
.popup-bg-header input.error,
.popup-bg-header select.error {
    border-color: #ff0000 !important;
    -moz-border-top-colors: #ff0000 !important;
    -moz-border-left-colors: #ff0000 !important;
    -moz-border-bottom-colors: #ff0000 !important;
    -moz-border-right-colors: #ff0000 !important;
}
.popup-bg-header label.error {
    display: none !important;
}
.popup-bg-header .popup-form .btn-buy {
    background-color: #1BBC9B;
    border: 1px solid transparent;
    border-radius: 3px;
    color: #f3f3f3;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
    transition: 300ms ease-in;
}
.popup-bg-header .popup-form .btn-buy:hover {
    background-color: transparent;
    border: 1px solid #1BBC9B;
    color: #1BBC9B;
}
.header-or {
    color: #ffffff;
    padding-top: 15px;
    text-align: center;
}
/*============================ TICKET FORM END ==========================*/
/*========================================== HEADER END ===========================================*/
/*========================================== HEADER-SLIDER START ===========================================*/

.header-slider-bgimage-1 {
    background-image: url("../../images/1500x600x3.html");
}
.header-slider-bgimage-2 {
    background-image: url("../../images/1500x600x4.jpg");
}
.header-slider-bgimage-3 {
    background-image: url("../../images/1500x600x5.jpg");
}
/*================= CORPORATE-HEADER-SLIDER START =================*/
.header-slider-bgimage-corporate4-1 {
    background-image: url("../../images/1500x600_corporate4x1.jpg");
}
.header-slider-bgimage-corporate4-2 {
    background-image: url("../../images/1500x600x4.jpg");
}
.header-slider-bgimage-corporate4-3 {
    background-image: url("../../images/1500x600x5.jpg");
}
/*================= CORPORATE-HEADER-SLIDER END =================*/
.header-section-slider-space {
    padding: 50px 0 50px 0;
}
.header-section-slider-height {
    height: 500px;
}
/*========================================== HEADER-SLIDER END ===========================================*/
/*========================================== ABOUT EVENTS START ===========================================*/

.about {
    margin-bottom: 20px;
}
.link-top {
    margin-top: 15px;
}
.link {
    color: #1BBC9B;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.link-center {
    display: table;
    margin: 0 auto;
}
/*========================================== ABOUT EVENTS END ===========================================*/
/*========================================== OUR SERVICES START ===========================================*/

.services-icon {
    float: left;
}
.services-pad {
    padding-left: 84px;
}
.services-bottom {
    padding-bottom: 30px;
}
/*========================================== OUR SERVICES END ===========================================*/
/*========================================== COUNTER START ===========================================*/

.counter-num {
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 10px;
}
.counter-sub {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
}
.counter-bgimage {
    background-image: url("../../images/1500x1000x1.html");
}

.counter-bgimage-church1{
    background-image: url("../../images/1500x1000x1_church1.jpg");
}
.counter-bgimage-music {
    background-image: url("../../images/1500x1000_music.jpg");
}
.counter-bgimage-corporate2 {
    background-image: url("../../images/1500x1000_corporate2.jpg");
}
.counter-section-space {
    padding: 120px 0 120px 0;
}
/*========================================== COUNTER END ===========================================*/
/*========================================== WHAT WE DO START ===========================================*/

.list-bottom {
    margin-bottom: 25px;
}
.list-top {
    margin-top: 30px;
}
.what-left-pad {
    padding-left: 15px;
}
.what-list {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}
/*========================================== WHAT WE DO END ===========================================*/
/*========================================== SCHEDULE - 1 START ===========================================*/

.schedule1-row-bottom {
    padding-bottom: 30px;
}
.schedule1-time {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    padding-top: 55px;
}
.schedule1-pad-top {
    padding-top: 50px;
}
.arrow-top {
    padding-top: 20px;
}
.schedule1-bg {
    background-color: #1BBC9B;
    width: 80%;
    border-radius: 3px;
    padding: 20px 20px 20px 20px;
}
.dir-right {
    direction: rtl;
}
i.hor-flip {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}
.fa-play {
    color: #1BBC9B;
    font-size: 30px;
    margin-left: -1px;
    margin-right: -1px;
}
.bottom-edge-shadow {
    -webkit-box-shadow: 0 10px 6px -6px #333333;
    -moz-box-shadow: 0 10px 6px -6px #333333;
    box-shadow: 0 10px 6px -6px #333333;
    transition: 300ms ease-in;
}
.bottom-edge-shadow:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
/*========================================== SCHEDULE - 1 END ===========================================*/
/*========================================== SCHEDULE-2 START ===========================================*/

.schedule2-row-bottom {
    padding-bottom: 30px;
}
.schedule2-date {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    padding-bottom: 15px;
}
.schedule2-time {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    padding-top: 15px;
}
.schedule-uline {
    background-color: #1BBC9B;
    height: 1px;
    margin: 0 auto;
    width: 50%;
    transition: width 1s;
    -ms-transition: width 1s;
    -webkit-transition: width 1s;
}
.schedule-full {
    width: 100%;
}
.schedule2-image-top {
    padding-top: 30px;
}
.schedule2-pad-top {
    padding-top: 50px;
}
/*========================================== SCHEDULE-2 END ===========================================*/
/*========================================== GALLERY START ===========================================*/

.gallery-fa {
    color: #f3f3f3;
    font-size: 30px;
}
.gallery-fa-pad-left {
    padding-left: 10px;
}
.ekko-lightbox-nav-overlay a {
    color: #f3f3f3;
}
.gallery-row-bottom {
    padding-bottom: 30px;
}
/*========================================== GALLERY END ===========================================*/
/*========================================== SCHEDULE-3 START ===========================================*/

.uline-sec-time {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-bottom: 5px;
}
.uline-sec-br {
    border-top: 1px solid #1BBC9B;
    padding-top: 10px;
    width: 50%;
}
/*========================================== SCHEDULE-3 END ===========================================*/
/*========================================== BOOK TICKETS START ===========================================*/

.tickets-bg {
    background-color: #ffffff;
    padding: 20px 20px 20px 20px;
    border-radius: 3px;
    transition: 300ms ease-in;
}
.tickets-center {
    display: table;
    margin: 0 auto;
}
.tickets {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 10px;
}
.tickets-pad {
    padding-right: 15px;
}
.tickets-shadow {
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.3);
}
.tickets-shadow:hover {
    box-shadow: none;
}
/*========================================== BOOK TICKETS END ===========================================*/
/*========================================== FREQUENTLY ASKED QUESTIONS START =========================================*/

.faq-row-bottom {
    margin-bottom: 30px;
}
/*========================================== FREQUENTLY ASKED QUESTIONS END ===========================================*/
/*========================================== BUILDER START =========================================*/

.builder-content-height {
    height: 475px;
    overflow: hidden;
}
.builder-content-pad {
    padding: 0 30px 0 30px;
}
.builder-bgimage-pad {
    padding: 80px 0 80px 0;
}
.builder-bgimage {
    background-image: url("../../images/1000x640x1.jpg");
}
.builder-bgimage-party {
    background-image: url("../../images/1000x640x1_party.jpg");
}
.builder-bgimage-corporate4 {
    background-image: url("../../images/1000x640_corporate4.jpg");
}
.builder-bgimage-height {
    width: 50%;
    height: 635px;
    position: absolute;
    left: 0;
}
.why-content-pad {
    padding-left: 20px;
}
.why-row-bottom {
    padding-bottom: 30px;
}
/*========================================== BUILDER END ===========================================*/
/*========================================== TEAM-BG START =========================================*/

.teambg-icon-pad {
    padding: 15px 0;
    margin-bottom: 20px;
}
.team-social-icon {
    list-style: none;
    display: inline-block;
}
.team-social-lr-pad {
    padding-left: 10px;
}
.teambg-design {
    color: #666666;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
}
/*========================================== TEAM-BG END ===========================================*/
/*========================================== LEFT-CONTENT START ===========================================*/

.left-content-white-text h1 {
    margin-bottom: 20px;
}
.left-content-bgimage {
    background-image: url("../../images/1500x700x1.html");
}
.left-content-bgimage-cororate4 {
    background-image: url("../../images/1500x700_cororate4.jpg");
}
.left-content-bgimage-church2 {
    background-image: url("../../images/1500x700_church2.jpg");
}
.left-content-bgimage-music {
    background-image: url("../../images/1500x700x1_music.jpg");
}
.left-content-section-space {
    padding: 150px 0 150px 0;
}
/*========================================== LEFT-CONTENT END ===========================================*/
/*========================================== PRICE TABLE START ===========================================*/

.price-bgcolor-1 {
    background-color: #ffffff;
    border-radius: 3px;
}
.price-bgcolor-2 {
    border-radius: 3px;
}
.price-head-pad {
    padding: 40px 10px 20px 10px;
}
.price-body-pad {
    padding: 20px 10px 40px 10px;
}
.pricig-uline {
    background-color: #1BBC9B;
    height: 1px;
    width: 40%;
    transition: width 2s;
    -ms-transition: width 2s;
    -webkit-transition: width 2s;
}
.pricig-full {
    width: 100%;
}
.pricig-uline-white {
    background-color: #f3f3f3;
}
.price-tag {
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    padding-bottom: 10px;
}
.dollor,
.month {
    font-size: 18px;
    font-weight: 600;
    line-height: 60px;
}
.dollor {
    vertical-align: middle;
}
.price-list-bottom p {
    margin-bottom: 10px;
}
.price-list-bottom:last-child {
    margin-bottom: 0;
}
.price-pos-rel {
    position: relative;
}
.price-pos-abs {
    position: absolute;
    right: 0;
    top: 0;
}
/*========================================== PRICE TABLE END ===========================================*/
/*========================================== TWO-COLUMN-SECTION START =========================================*/

.two-column-bgimage-1 {
    background-image: url("../../images/1000x410x1.html");
}
.two-column-bgimage-2 {
    background-image: url("../../images/1000x410x2.html");
}
/*=============== TWO-COLUMN-SECTION-CHURCH2 START =================*/
.two-column-bgimage-1-church2 {
    background-image: url("../../images/1000x410x1_church2.jpg");
}
.two-column-bgimage-2-church2 {
    background-image: url("../../images/1000x410x2_church2.jpg");
}

/*=============== TWO-COLUMN-SECTION-CHURCH2 END =================*/

/*=============== TWO-COLUMN-SECTION-PARTY START =================*/
.two-column-bgimage-1-party {
    background-image: url("../../images/1000x410x1_party.jpg");
}
.two-column-bgimage-2-party {
    background-image: url("../../images/1000x410x2_party.jpg");
}
/*=============== TWO-COLUMN-SECTION-PARTY-END =================*/

/*=============== TWO-COLUMN-SECTION-CORPORATE5 START =================*/
.two-column-bgimage-1-corporate5 {
    background-image: url("../../images/1000x410_corporate5x1.jpg");
}
.two-column-bgimage-2-corporate5 {
    background-image: url("../../images/1000x410_corporate5x2.jpg");
}
/*=============== TWO-COLUMN-SECTION-CORPORATE5 END =================*/

/*=============== TWO-COLUMN-SECTION-MUSIC START =================*/
.two-column-bgimage-1-music {
    background-image: url("../../images/1000x410x3_music.jpg");
}
.two-column-bgimage-2-music {
    background-image: url("../../images/1000x410x4_music.jpg");
}
/*=============== TWO-COLUMN-SECTION-MUSIC END =================*/
.two-column-content-height {
    height: 250px;
    overflow: hidden;
}
.two-column-bgimage-1-height {
    width: 50%;
    height: 410px;
    position: absolute;
    left: 0;
}
.two-column-bgimage-2-height {
    width: 50%;
    height: 410px;
    position: absolute;
    right: 0;
}
.two-column-bgimage-pad-1 {
    padding: 80px 0 80px 0;
}
.content-pad-1 {
    padding: 0 30px 0 30px;
}
/*========================================== TWO-COLUMN-SECTION END ===========================================*/
/*========================================== UPCOMING EVENTS START ===========================================*/

.events-num {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    padding-bottom: 10px;
}
.events-shadow {
    box-shadow: 5px 5px 5px #888888;
    transition: 300ms ease-in;
}
.events-shadow:hover {
    box-shadow: none;
}
/*========================================== UPCOMING EVENTS END ===========================================*/
/*========================================== TESTIMONIAL START ===========================================*/

.quote-bottom {
    margin-bottom: 20px;
}
.testimonial-author-pad {
    padding-left: 20px;
}
.testimonial-author {
    font-size: 15px;
    font-weight: 600;
}
.upcoming-events-bg {
    padding: 20px 20px 20px 20px;
    border-radius: 3px;
}
/*========================================== TESTIMONIAL END ===========================================*/
/*========================================== VENUE START ===========================================*/

.venue-map {
    width: 100%;
    height: 440px;
}
.venue-address-bottom {
    margin-bottom: 5px;
}
.venue-row-space {
    margin-bottom: 30px;
}
/*========================================== VENUE END ===========================================*/
/*========================================== CTA START ===========================================*/

.cta-white-text h1 {
    margin-bottom: 20px;
}
.cta-bgimage {
    background-image: url("../../images/1500x500x1.html");
}
.cta-bgimage-party {
    background-image: url("../../images/1500x500x1_party.jpg");
}
.cta-bgimage-music {
    background-image: url("../../images/1500x500_music.jpg");
}
.cta-bgimage-corporate {
    background-image: url("../../images/1500x500_corporate.jpg");
}
.cta-section-space {
    padding: 150px 0 150px 0;
}
/*========================================== CTA END ===========================================*/
/*========================================== EMAIL SUBSCRIPTION START ===========================================*/

.subscription-bgimage {
    background-image: url("../../images/1500x550.html");
}
.subscription-bgimage-corporate5 {
    background-image: url("../../images/1500x550_corporate5.jpg");
}
.subscription-section-space {
    padding: 100px 0 100px 0;
}
.email-head-bottom {
    margin-bottom: 20px;
}
.email-success,
.email-failure {
    color: #f3f3f3;
    font-size: 14px;
    font-weight: 600;
}
.indicator-top {
    padding-top: 15px;
}
.email-text-bottom {
    margin-bottom: 30px;
}
/*========================================== EMAIL SUBSCRIPTION END ===========================================*/
/*========================================== FOOTER START =========================================*/

.footer-row-space {
    margin-bottom: 30px;
}
.footer-icon {
    list-style: none;
    display: inline-block;
}
.footer-lr-pad {
    padding-left: 10px;
}
.form-bottom-1 {
    margin-bottom: 20px;
}
.form-text {
    height: 40px;
}
.footer-br {
    border-bottom: 1px solid #cccccc;
    margin-top: 40px;
}
.footer-br-bottom {
    margin-bottom: 40px;
}
.form-div input.error,
.form-div-1 textarea.error {
    border-color: #ff0000 !important;
}
.contact-div label {
    color: #ff0000;
    font-size: 12px;
    font-weight: 600;
}
.errorClass {
    border: 1px solid #ff0000 !important;
}
.form-success,
.form-failure {
    font-size: 14px;
    font-weight: 600;
}
.form-success {
    color: #006604;
}
.form-failure {
    color: #ff0000;
}
.form-error-bottom {
    padding-bottom: 10px;
}
.submit-reset {
    margin: 0 0 0 auto;
    padding-top: 30px;
}
.submit-right-pad {
    padding-right: 30px;
}
/*========================================== FOOTER END ===========================================*/
/*============================ TICKET FORM START ==========================*/

.popup-bg {
    background-color: #222222;
    width: 450px;
    border: 2px solid #1BBC9B;
    border-radius: 5px;
}
.close-icon-1 {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 0 1px 1px #ffffff;
    opacity: 1;
}
.popup-bg-pad {
    padding: 0 40px 30px 40px;
}
.popup-form select,
.popup-form input {
    font-size: 15px;
    font-weight: 600;
    height: 50px;
    margin-bottom: 30px;
}
.popup-form > h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
}
select {
    height: 50px;
    line-height: 50px;
}
.name,
.email,
.phoneno,
#amounts,
#price-1 {
    padding-left: 8px;
    padding-right: 8px;
}
.p-white {
    color: #ffffff;
}
.donate-bg {
    background-color: #1BBC9B;
    border: 1px solid #f3f3f3;
    text-transform: uppercase;
}
.btn-cancel {
    border: 1px solid #f3f3f3;
    padding: 15px 15px 14px 15px;
    background-color: transparent;
}
.messagediv {
    display: block;
}
/* lightbox popup */

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 1001;
    -moz-opacity: 0.7;
    opacity: .70;
    filter: alpha(opacity=70);
}
#success_btn,
#cancel_btn {
    background-color: #ffffff;
    border: 10px solid #1BBC9B;
    display: none;
    position: fixed;
    border-radius: 5px;
    padding: 7px 10px 30px 10px;
    margin: 0 auto;
    z-index: 99999;
    width: 35%;
    top: 30%;
    left: 0;
    right: 0;
}
.cancel-head-pad {
    padding: 30px 10px 15px 10px;
}
input.error,
select.error {
    border-color: #ff0000 !important;
    -moz-border-top-colors: #ff0000 !important;
    -moz-border-left-colors: #ff0000 !important;
    -moz-border-bottom-colors: #ff0000 !important;
    -moz-border-right-colors: #ff0000 !important;
}
.popup-bg label.error {
    display: none !important;
}
.close-icon-1:hover {
    font-size: 20px;
    font-weight: 700;
    color: #ff0000;
    text-shadow: 0 1px 1px #ffffff;
    opacity: 1;
}
.or {
    padding-top: 15px;
}
#success_btn .cancel-head-pad h2 {
    color: #008000;
    text-align: center;
}
#cancel_btn .cancel-head-pad> h2 {
    color: #ff0000;
    padding-bottom: 8px;
    padding-top: 20px;
    text-align: center;
}
.close-icon {
    font-size: 20px;
    font-weight: 700;
    color: #ff0000;
    text-shadow: 0 1px 0 #666666;
    opacity: 0.3;
}
.close-icon:hover {
    font-size: 20px;
    font-weight: 700;
    color: #ff0000;
    text-shadow: 0 1px 0 #666666;
    opacity: 1;
}
.ok-icon {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background-color: #1BBC9B;
    border-radius: 3px;
    display: inline-block;
    float: none;
    text-align: center;
    line-height: 20px;
    padding: 5px 10px 5px 10px;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}
.ok-icon:hover {
    font-size: 12px;
    font-weight: 700;
    color: #ffffff;
    background-color: #1BBC9B;
    border-radius: 3px;
    display: inline-block;
    float: none;
    text-align: center;
    line-height: 20px;
    padding: 5px 10px 5px 10px;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
}
/*============================ TICKET FORM END ==========================*/
/*========================================== MEDIA QUERY START =========================================*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #success_btn,
    #cancel_btn {
        width: 40%;
    }
    .res-tickets-h2 h2 {
        font-size: 18px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .venue-res-all p,
    .venue-res-all h2 {
        text-align: center;
    }
    .res-client-space {
        margin-bottom: 30px;
    }
    #success_btn,
    #cancel_btn {
        width: 50%;
    }
    .res-services-bottom,
    .res-book-bottom {
        padding-bottom: 30px;
    }
    .common-res-bottom {
        padding-bottom: 40px;
    }
    .schedule1-bg {
        width: 100%;
    }
    .res-dis-table {
        display: table;
    }
    .res-image-center {
        margin: 0 auto;
    }
    .res-image-bottom-schedule3,
    .res-image-bottom-lunch {
        margin-bottom: 20px;
    }
    .res-image-bottom {
        padding-bottom: 20px;
    }
    .res-text-center,
    .schedule3-res-center h2,
    .schedule3-res-center p {
        text-align: center;
    }
    .builder-bgimage-height {
        width: 100%;
        position: relative;
    }
    .builder-content-height {
        height: auto;
    }
    .builder-bgimage-pad {
        padding: 40px 0 80px 0;
    }
    .two-column-bgimage-1-height,
    .two-column-bgimage-2-height {
        width: 100%;
        position: relative;
    }
    .two-column-bgimage-pad-1 {
        padding: 20px 0 80px 0;
    }
    .two-column-content-height {
        height: auto;
    }
    .price-fixed {
        margin: 0 auto;
        width: 65% !important;
    }
    .price-res-bottom {
        margin-bottom: 40px;
    }
    .upcoming-clear {
        clear: left;
    }
    .upcoming-res-bottom {
        padding-bottom: 40px;
    }
    .countdown {
        font-size: 65px;
    }
    .res-image-bottom-what {
        margin-bottom: 20px;
    }
    .content-pad-1 {
        padding: 0 15px 0 15px;
    }
    .builder-content-pad {
        padding: 0 15px 0 15px;
    }
}
@media only screen and (min-width: 250px) and (max-width: 767px) {
    .content-pad-1 {
        padding: 0 15px 0 15px;
    }
    .builder-content-pad {
        padding: 0 15px 0 15px;
    }
    .header2-right {
        padding: 0;
    }
    .venue-res-all p,
    .venue-res-all h2 {
        text-align: center;
    }
    .res-image-bottom-1 {
        padding-bottom: 20px;
    }
    .team-fixed {
        width: 400px !important;
        margin: 0 auto;
    }
    .res-client-space-1 {
        margin-bottom: 30px;
    }
    .navbar-default .navbar-nav > li > a {
        padding: 20px 0 5px 0;
    }
    .donate-bg,
    .btn-cancel {
        width: 130px;
    }
    .donate-pad-right {
        margin-right: 20px;
    }
    #success_btn,
    #cancel_btn {
        width: 50%;
    }
    .popup-bg-width {
        width: 400px;
    }
    .common-res-bottom-1,
    .counter-res-bottom {
        padding-bottom: 40px;
    }
    .services-res-bottom {
        padding-bottom: 30px;
    }
    .res-image-center-1 {
        margin: 0 auto;
    }
    .res-image-bottom-what {
        margin-bottom: 20px;
    }
    .schedule1-res-hidden,
    .arrow-top {
        display: none !important;
    }
    .schedule1-res-align {
        text-align: center;
    }
    .schedule1-res-width,
    .schedule2-res-width {
        width: 100% !important;
    }
    .schedule1-time {
        padding-top: 0;
    }
    .schedule1-pad-top,
    .schedule2-pad-top {
        padding-top: 20px;
    }
    .schedule1-bg {
        width: 100%;
    }
    .schedule1-row-bottom {
        padding-bottom: 40px;
    }
    .res-image-bottom-schedule3 {
        margin-bottom: 20px;
    }
    .schedule3-res-center h2,
    .schedule3-res-center p {
        text-align: center;
    }
    .res-dis-table {
        display: table;
    }
    .res-book-bottom,
    .res-faq-bottom {
        padding-bottom: 30px;
    }
    .res-gallery-row-bottom {
        padding-bottom: 30px;
    }
    .upcoming-clear {
        clear: left;
    }
    .upcoming-res-bottom {
        padding-bottom: 40px;
    }
    .common-res-bottom-1 {
        padding-bottom: 40px;
    }
    .countdown {
        font-size: 50px;
    }
    .countdown-wrap {
        margin: 10px 10px;
    }
    .builder-bgimage-height {
        width: 100%;
        position: relative;
    }
    .builder-content-height {
        height: auto;
    }
    .builder-bgimage-pad {
        padding: 40px 0 80px 0;
    }
    .price-fixed {
        margin: 0 auto;
        width: 400px !important;
    }
    .price-res-bottom {
        margin-bottom: 40px;
    }
    .two-column-bgimage-1-height,
    .two-column-bgimage-2-height {
        width: 100%;
        position: relative;
    }
    .two-column-bgimage-pad-1 {
        padding: 20px 0 80px 0;
    }
    .two-column-content-height {
        height: auto;
    }
    .navbar-toggle {
        margin-right: 0;
    }
    .schedule2-image-top {
        padding-top: 0;
    }
    .schedule2-row-bottom {
        padding-bottom: 40px;
    }
    .res-no-pad {
        padding: 0;
    }
}
@media only screen and (min-width: 250px) and (max-width: 639px) {
    #success_btn,
    #cancel_btn {
        width: 60%;
    }
    .upcoming-res-bottom-1 {
        padding-bottom: 40px;
    }
    .common-fixed-full {
        width: 100% !important;
    }
    .event-fixed {
        width: 240px !important;
        padding-bottom: 20px;
        margin: 0 auto;
        float: none;
    }
    .res-text-center-2 {
        text-align: center;
    }
    .common-full-1 {
        width: 280px !important;
        margin: 0 auto;
        float: none;
    }
    .res-book-bottom-1 {
        padding-bottom: 30px;
    }
    .countdown {
        font-size: 45px;
        padding: 10px 15px;
    }
    .count-unit {
        font-size: 12px;
    }
}
@media only screen and (min-width: 250px) and (max-width: 479px) {
    .res-header-form-width {
        width: 100% !important;
    }
    .col-xs-offset-1 {
        margin-left: 0;
    }
    .team-fixed {
        width: 100% !important;
        margin: 0 auto;
    }
    .popup-bg {
        width: 80%;
    }
    .donate-bg,
    .btn-cancel {
        width: 100%;
    }
    #success_btn,
    #cancel_btn {
        width: 80%;
    }
    .res-gallery-bottom {
        padding-bottom: 30px;
    }
    .popup-bg-width {
        width: 100%;
    }
    .price-fixed {
        margin: 0 auto;
        width: 100% !important;
    }
    .price-res-bottom {
        margin-bottom: 40px;
    }
    .light-box {
        width: 100% !important;
    }
    .countdown-wrap {
        margin: 5px 5px;
    }
    .countdown {
        font-size: 25px;
        padding: 10px 10px;
    }
    .count-unit {
        font-size: 12px;
    }
    .header-head2 {
        font-size: 40px;
    }
}
@media only screen and (min-width: 250px) and (max-width: 320px) {
    .common-full-1 {
        width: 100% !important;
        margin: 0 auto;
        float: none;
    }
    .countdown-wrap {
        margin: 5px 5px;
    }
    .countdown {
        font-size: 25px;
        padding: 10px 10px;
    }
    .count-unit {
        font-size: 9px;
    }
}

.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mr-10{
    margin-right: 10px;
}

.border-bottom{
    border-bottom: 1px black solid;
}
.pd-bottom{
    padding-bottom: 10px;
}
.playpause {
    background-image:url(https://flock.com/img/compare-play-btn-685c2c07.png);
    background-repeat:no-repeat;
    width:50%;
    height:50%;
    position:absolute;
    left:0%;
    right:0%;
    top:0%;
    bottom:0%;
    margin:auto;
    background-size:contain;
    background-position: center;
}
.wrapper{
    display:table;
    width:auto;
    position:relative;
    width:100%;
}
.embed-responsive .video-fix{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    border: 0;
}
.p-r-0{
    padding-right: 0;
}
.p-l-20{
    padding-left: 20px;
}
.p-l-0{
    padding-left: 0;
}
.p-t-40{
    padding-top: 40px;
}
@media only screen and (min-width: 768px) and (max-width: 1600px)  {
    .p-t-buy{
        padding-top: 20%;
    }
}
@media only screen and (max-width: 768px)  {
    .p-t-buy{
        padding-top: 90%;
    }
}
.mask{
    opacity: 1;
    background-color: rgba(0,0,0,0);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.flex-center{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
.navbar-default-border-none{
    border: none;
}

@media only screen and (min-width: 768px) and (max-width: 1600px)  {
    .respone-des{
        display: block;
    }
    .respone-mobile{
        display: none;
    }
}
@media only screen and (max-width: 768px)  {
    .respone-des{
        display: none;
    }
    .respone-mobile{
        display: block;
    }
}
.relative{
    position: relative;
}
.absolute {
    position: absolute;
}
.image-cloud {
    left: 20px;
    max-width: 359px;
    top: 20px;
    width: 20%;
}
.image-sun {
    max-width: 395px;
    right: 70px;
    top: 20px;
    width: 20%;
}
.image-cloud img {
    height: auto;
    width: 100%;
}
@media (min-width: 1200px){
    .visible-lg {
        display: block!important;
    }
}

.apps-craft-pricing-1 {
    background-image: url(../../images/pricing-body-bg-1.png);
}

.apps-craft-single-pricing {
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 35px rgba(0,0,0,.09);
    padding: 60px 5px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.apps-craft-pricing-head {
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 32px;
    width: calc(100% - 36px);
    margin: 0 auto 28px auto;
}
.apps-craft-btn.solid-color {
    background-color: #232838 !important;
}

.apps-craft-btn.solid-color {
    width: 140px;
    height: 50px;
    border-radius: 3px;
    background-color: #f2504d;
    box-shadow: 0 18px 32px rgba(0,0,0,.18);
    text-align: center;
    line-height: 40px;
    color: #E3E3E3;
    font-size: 1em;
    font-weight: 700;
    padding: 5px;
    display: inline-block;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.apps-craft-pricing-body h2 {
    margin: 0;
    font-size: 4.286em;
    font-weight: 500;
    margin-bottom: 55px;
    color: #01C9FC;
}
.apps-craft-pricing-head h3 {
    color: #333333;
    margin: 0;
    font-size: 1.714em;
    font-weight: 500;
    text-transform: uppercase;
}
.apps-craft-pricing-body p {
    color: #333333;
    font-weight: 400;
    margin: 0 auto 10px auto;
    width: calc(100% - 50px);
    line-height: 1.7;
    text-transform: capitalize;
}

.apps-craft-pricing-3 {
    background-image: url(../../images/pricing-body-bg-3.png);
}

.apps-craft-pricing-2 {
    background-image: url(../../images/pricing-body-bg-2.png);
}

small:before {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    margin: 15px auto 25px auto;
    background-color: #23bab5;
}
/*@media only screen and (max-width: 768px) {*/
    /*!*.navbar{*!*/
        /*!*height: 50px;*!*/
    /*!*}*!*/
    /*!*.navigation-tb{*!*/
        /*!*margin-top: 0;*!*/
    /*!*}*!*/
    /*!*.menu-bg{*!*/
        /*!*background: rgb(255, 255, 255) none repeat scroll 0 0;*!*/
        /*!*opacity: 1;*!*/
    /*!*}*!*/
/*}*/

/*========================================== MEDIA QUERY END =========================================*/